# Alternate default index pages
DirectoryIndex index.html

# Deny access to files with extensions .py and .htaccess
<FilesMatch "\.(py|htaccess|htpasswd)$">
Order allow,deny
Deny from all
</FilesMatch>
