<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="./templates/tablepages.css" rel="stylesheet" type="text/css"/>
<title>{{ pagetitle }}</title>
    <link href="./templates/simpleLightbox.css" rel="stylesheet" type="text/css" />
    <script language="javascript" src="./templates/simpleLightbox.js"></script>

<script type="text/javascript">

    function toggleSQL() {
        var theSQLinput = document.getElementById("sqlDiv");
        if (theSQLinput.style.display == "none") {
            theSQLinput.style.display = "inline";
        } else {
            theSQLinput.style.display = "none";
        }
        changeSQL();
    } //function

    function fillDate(theDateField) {
        theDate = new Date(); //now
        var DD = theDate.getDate();
        DD = (DD<10 ? "0"+DD : DD);
        var MM = theDate.getMonth() + 1;
        MM = (MM<10 ? "0"+MM : MM);
        var YYYY = theDate.getFullYear();
        theDateField.value = DD + "/" + MM + "/" + YYYY;
    } //function

    function testURI(theURIField) {
        window.open(theURIField.value);
    } //function

    function testIMG(theURIField) {
        simpleLightbox(theURIField.value, 10, true);
    } //function

    function escapeQuotes(theStr) {
        var regexp = /'/g;
        theStr = theStr.replace(regexp, "''");
        return theStr;
    }


    function changeSQL () {

        var updateSQL = document.getElementById("updatesql");
        var theSearchSQL = document.getElementById("sql");

        var theIntoStr = " {{ td.theTable }}";
        var theColsStr = " ";
        var theColsExtraStr = "";
        var theValuesStr = "";
        var theWhereStr = "{{ ws }}"; //from backend py

        {#    Loop through the columns:  #}
        {%- for i in range(td.numCols) -%}

            {%- if td.colTypeList[i] == 'none' -%}
                //needed to add 'none' columns to searchSQL but NOT to updateSQL:
                theColsExtraStr += "{{ td.colList[i] }}, ";
            {%- endif -%}

            {%- if td.colTypeList[i] == 'str' or td.colTypeList[i] == 'txt' or td.colTypeList[i] == 'uri' or td.colTypeList[i] == 'img'-%}

                var theSearchStr = document.getElementById("{{ td.colList[i] }}").value;
                theColsStr += "{{ td.colList[i] }}, ";
                if (theSearchStr == "" || theSearchStr == undefined) {
                    theValuesStr += "{{ td.colList[i] }} = " + " NULL, ";
                } else {
                    theValuesStr += "{{ td.colList[i] }} = " + " '" + escapeQuotes(theSearchStr) + "', ";
                }

            {%- endif -%}

            {%-  if td.colTypeList[i] == 'num' -%}

                var theSearchStr = document.getElementById("{{ td.colList[i] }}").value;
                theColsStr += "{{ td.colList[i] }}, ";
                if (theSearchStr == "" || theSearchStr == undefined) {
                    theValuesStr += "{{ td.colList[i] }} = " + " NULL, ";
                } else {
                    theValuesStr += "{{ td.colList[i] }} = " +  theSearchStr + ", ";
                }

            {%- endif -%}


            {%-  if td.colTypeList[i] == 'bool' -%}

                var theSearchStr = document.getElementById("{{ td.colList[i] }}").value;
                theColsStr += "{{ td.colList[i] }}, ";
                var theSearchStr = document.getElementById("{{ td.colList[i] }}").value;
                if (theSearchStr == "" || theSearchStr == undefined) {
                    theValuesStr += "{{ td.colList[i] }} = " + " NULL, ";
                } else {
                    theValuesStr += "{{ td.colList[i] }} = " +  theSearchStr + ", ";
                }

            {%- endif -%}



            {%-  if td.colTypeList[i] == 'date' -%}

                var theSearchStr = document.getElementById("{{ td.colList[i] }}").value;
                theColsStr += "{{ td.colList[i] }}, ";
                if (theSearchStr == "" || theSearchStr == " " || theSearchStr == undefined) {
                    theValuesStr += "{{ td.colList[i] }} = " + " NULL, ";
                } else {
                    theValuesStr += "{{ td.colList[i] }} = " +  "to_date('" + theSearchStr + "', 'DD/MM/YYYY'), ";
                }

            {%- endif -%}

            {%-  if td.colTypeList[i] == 'fk' -%}

                var theSearchStr = document.getElementById("{{ td.colList[i] }}").value;
                theColsStr += "{{ td.colList[i] }}, ";
                if (theSearchStr == "" || theSearchStr == " " || theSearchStr == undefined) {
                    theValuesStr += "{{ td.colList[i] }} = " +  " NULL, ";
                } else {
                    theValuesStr += "{{ td.colList[i] }} = " +  theSearchStr + ", ";
                }

            {%- endif -%}

            {%-  if td.colTypeList[i] == 'fkarray' -%}

                theColsStr += "{{ td.colList[i] }}, ";
                var theSearchStr = "";
                var theCheckBoxes = document.getElementsByName("{{ td.colList[i] }}");
                for (var z=0; z < theCheckBoxes.length; z++) {
                    if (theCheckBoxes[z].checked) {
                        theSearchStr += theCheckBoxes[z].value + "," ;
                    }
                }
                theSearchStr = theSearchStr.substring(0,theSearchStr.length-1); //cleaning up last ,
                theValuesStr += "{{ td.colList[i] }} = " +  "'{" + theSearchStr + "}', ";

            {%- endif -%}

        {%- endfor -%}
        {#   ...end of Loop through the columns. #}

        theColsStr = theColsStr.substring(0,theColsStr.length-2); //cleaning up last ,
        theValuesStr = theValuesStr.substring(0,theValuesStr.length-2); //cleaning up last ,
        updateSQL.value = " {{ td.theTable }} SET " + theValuesStr + theWhereStr ;
        theSearchSQL.value = theColsExtraStr + theColsStr + " FROM  {{ td.theTable }} " + theWhereStr;
    } //function changeSQL()

</script>
</head>

<body bgcolor="#FFFFCC" onLoad="changeSQL()">

<form id="inputForm" name="inputForm" action="">
    <table>
        <tr class="plain">
            <td colspan="3"><h2>EDIT:</h2></td>
        </tr>

    {#    Loop through the rows: should normally be ONLY ONE!  #}
    {%- for rows in qr -%}
        {#    Loop through the columns:  #}
        {%- for i in range(td.numCols) -%}

            {%- if td.colTypeList[i] == 'str' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>

                    <td align="left" valign="baseline" class="style1">
                        <input id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" type="text" size="40" maxlength="255"
                               value="{{ rows[i]|replace(None, '') }}" onChange="changeSQL()"/> (string)
                    </td>
                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'txt' -%}
                <tr class="plain">
                    <td align="right" valign="top"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b></td>

                    <td align="left" valign="baseline" class="style1">
                    <textarea cols="40" rows="3" id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" wrap="soft"
                              onChange="changeSQL()">{{ rows[i]|replace(None, '') }}</textarea> (text)
                    </td>
                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'uri' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>

                    <td align="left" valign="baseline" class="style1">
                        <input id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" type="text" size="40" maxlength="255"
                               value="{{ rows[i]|replace(None, '') }}" onChange="changeSQL()"/>
                        <a  onclick="testURI({{  td.colList[i] }})" >(URI - click to TEST)</a>
                    </td>
                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'img' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>

                    <td align="left" valign="baseline" class="style1">
                        <input id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" type="text" size="40" maxlength="255"
                               value="{{ rows[i]|replace(None, '') }}" onChange="changeSQL()"/>
                        <a  onclick="testIMG({{  td.colList[i] }})" >(IMG url - click to PREVIEW)</a>
                    </td>
                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'num' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>

                    <td align="left" valign="baseline" class="style1">
                        <input id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" type="text" size="25" maxlength="64"
                               value="{{ rows[i]|replace(None, '') }}" onChange="changeSQL()"/> (number)
                    </td>
                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'bool' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>

                    <td align="left" valign="baseline" class="style1">
                        <select id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" onChange="changeSQL()">
                                {%- if rows[i] == False -%}
                                    <option value="false" selected>False</option>
                                    <option value="true" >True</option>
                                {%- else -%}
                                    <option value="false">False</option>
                                    <option value="true" selected>True</option>
                                {%- endif -%} %}
                        </select>
                        (True or False)
                    </td>

                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'date' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>
                    <td align="left" valign="baseline" class="style1">
                    {%-  if rows[i] == None -%}
                        <input id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" type="text" size="25" maxlength="64"
                             value=""  onChange="changeSQL()"/>
                     {%-  else -%}
                        <input id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" type="text" size="25" maxlength="64"
                             value="{{ rows[i] }}"  onChange="changeSQL()"/>
                     {%-  endif -%}
                    <a  onclick="fillDate({{ td.colList[i] }})" target="_blank">(DD/MM/YYYY - Click for Today)</a>
                    </td>
                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'fk' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>

                    <td align="left" valign="baseline" class="style1">
                        <select id="{{ td.colList[i] }}" name="{{ td.colList[i] }}" onChange="changeSQL()">
                            <option value="" selected></option>
                            {%- if td.LUT[i] == None -%}
                                <option value="*ERROR in LUT*">*ERROR in LUT*</option>
                            {%- else -%}
                                {%- for FK, FKval in td.LUT[i]|sort -%}
                                    {%- if FK == rows[i] -%}
                                        <option selected value="{{ FK }}">{{ FKval }}</option>
                                    {%- else -%}
                                        <option value="{{ FK }}">{{ FKval }}</option>
                                    {%- endif -%} %}
                                {%- endfor -%}
                            {%- endif -%}
                        </select>
                        (choose one)
                    </td>
                </tr>
            {%- endif -%}

            {%- if td.colTypeList[i] == 'fkarray' -%}
                <tr class="plain">
                    <td align="right" valign="baseline"><b><span class="colname">{{ td.colDisplayList[i] }}</span></b>
                    </td>

                    <td align="left" valign="baseline" class="style1">
                            {%- if td.LUT[i] == None -%}
                                *ERROR in LUT*
                            {%- else -%}
                                {%- for FK, FKval in td.LUT[i]|sort -%}
                                    {%- if FK in rows[i] -%}
                                        <input type="checkbox" name="{{ td.colList[i] }}" value="{{ FKval }}"
                                           onChange="changeSQL()" checked>
                                    {%- else -%}
                                        <input type="checkbox" name="{{ td.colList[i] }}" value="{{ FKval }}"
                                           onChange="changeSQL()" >
                                    {%- endif -%}
                                    {{ FKval }}<br>
                                {%- endfor -%}
                            {%- endif -%}
                        (choose one or more)
                    </td>
                </tr>
            {%- endif -%}

        {%- endfor -%}
        {#   ...end of Loop through the columns. #}
        </tr>
    {%- endfor -%}
    {#   ...end of  Loop through the rows.  #}

    </table>
</form>


<form id="SQLform" name="SQLform" method="post" action="index.py">
    <input name="do" type="hidden" value="update"/>
    <input name="PWfromParam" type="hidden" value="{{ PWfromParam }}"/>
    <p>
        <button type="submit" id="submit" form="SQLform">UPDATE RECORD</button>
        <button type="submit" id="cancel" form="cancelForm">CANCEL</button>
    </p>
    <div id="sqlDiv" style="display:none" class="code">
    <textarea name="updatesql" id="updatesql" cols="70" rows="9" wrap="soft">
    </textarea>
    <textarea name="sql" id="sql" cols="70" rows="9" wrap="soft">
    </textarea>
    </div>
</form>

<form id="cancelForm" name="cancelForm" method="post" action="index.py">
    <input name="PWfromParam" type="hidden" value="{{ PWfromParam }}"/>
    <input name="do" type="hidden" value="search"/>
</form>



</body>
</html>